@font-face {
    font-family: "coffee";
    src: url("../fonts/Louis George Cafe.woff");
}

@font-face {
    font-family: "coffee-light";
    src: url("../fonts/Louis George Cafe Light.woff");
}

@font-face {
    font-family: "coffee-bold";
    src: url("../fonts/Louis George Cafe Bold.woff");
}